body {
    text-align: ";
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

.titulo-principal{
    padding-left: 20px;
}

p{
    text-align: center;
}
#missao{
    font-size: 24px;text-align: center;
}

em strong{
    color: blueviolet;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{  
    width: 50%;
}

.itens{
    font-style: italic;
}

