body {
    text-align: ";
}

.principal{
    background: #CCCCCC;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 24px;text-align: center;
}

em strong{
    color: blueviolet;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{  
    width: 50%;
}

.itens{
    font-style: italic;
}

h2{
    text-align: center;
}